html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}
h3 {
  color: #836ef9;
  background-color: #241359;
}
h3 span {
  color: #fff;
}
h5 {
  margin: 0px;
}
.player {
  position: relative;
}
.player div {
  position: absolute;
  bottom: 0px;
  font-size: xx-large;
  color: #fff;
  background-color: #000000aa;
  padding: 0px 5px;
}
a {
  text-decoration: underline dashed;
}
